.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  min-width: 1280px;
  margin: 20px auto;
  padding: 0;
  list-style: none;
  width: calc((100% - 3 * 20px) / 4);
}
.card {
  overflow: hidden;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 300px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}
